modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cacert"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ACCESS-WEB-V9.7 Server"

[[workflows.workflow]]
name = "ACCESS-WEB-V9.7 Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ACCESS-WEB-V9.7 && npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Strapi CMS"
author = 40264017
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ACCESS-WEB-V9.7/strapi && npx create-strapi-app@latest strapi-cms --quickstart"

[deployment]
run = ["sh", "-c", "cd ACCESS-WEB-V9.7 && npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80
